
div{
  box-sizing: border-box;
}
.black-nav {
  display: flex;
  background: palegoldenrod;
  width: 100%;
  color: #282c34;
  padding-left: 20px;
}

.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid gray;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  text-align: left;
}